#!/bin/bash
function containerize() {
    docker run --rm -ti -v "$(pwd):/opt/src" --workdir /opt/src --entrypoint /bin/bash "$@"
}

function hacker() {
    hexdump -C /dev/urandom | grep "ca fe"
}

function processitcreport() {
    if ! [[ -f "${1}" ]]; then
        echo "No file found at ${1}"
        echo "Usage: processitcreport /path/to/financial_report"
        return 1
    fi

    docker run --rm -ti \
        -v "${1}:/opt/input:ro" \
        ellneal/itcfinancereport "/opt/input"
}
