[alias]
        l = log --pretty=oneline -n 20 --graph --abbrev-commit
        s = status -s
        a = add "$@"
        c = commit -m "$@"
        d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    [user]
	name = Ell Neal
	email = elliot@emdentec.com
[commit]
    gpgsign = true
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
    helper = osxkeychain
[merge]
	tool = Kaleidoscope
[push]
	default = upstream
